/* Variables */

:root {
    --basic-black: #000000;
    --basic-background: #131212;
    --basic-greydark: #212121;
    --basic-white: #ffffff;
    --basic-grey: #828282;
    --special-green: #27AE60;
    --special-grey: #4F4F4F;
    --special-line: #F7F7F7;
}

  /* main styles */
.page-body {
    margin: 0;
    margin: 0;
    padding: 0 130px 0 100px;
    font-family: 'DM Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: var(--basic-white);
    background-color: var(--basic-background);
}

a,p,li,ul,h1,h2,h3 { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: none;
    background-color: none;
    color: var(--basic-white);
}

.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

/* Header */

.main-header {
    padding: 28px 0 112px 0;
}
.main-header__logo {
    font-size: 36px;
    line-height: 47px;
    color: var(--basic-white);
    text-transform: capitalize;
}
.main-header__menu  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-header__list {
    display: flex;
    flex-wrap: wrap;
}
.main-header__item {
    margin-right: 40px;
}
.main-header__item:last-of-type {
    margin: 0;
}
/* MAIN */
.main {
    display: flex;
    flex-direction: column;
}
.main-introduce {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-introduce__box {
    display: flex;
    flex-direction: column;

}
.main-introduce__title,.main-stack__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
}
.main-introduce__text {
    margin-bottom: 34px;
    color: var(--basic-grey);
}
.main-introduce__list {
    display: flex;
    align-items: flex-start;
}
.button-green {
    padding: 12px 34px;
    background-color: var(--special-green);
}
.button-transparent {

    padding: 11px 34px;
    border: 1px solid #F2F2F2;
    background-color: transparent;
}
.main-introduce__item {
    margin-right: 10px;
}
.main-introduce__item:last-of-type {
    margin-right: 0;
}
.main-introduce__avatar {
    position: relative;
}
.main-introduce__image {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    border: 1px solid #4F4F4F;
    box-sizing: border-box;
    z-index: 20;
}
.main-introduce__ellipse {
    position: absolute;
    transform: translate(-4%, -97%);
    z-index: 10;
    width: 650px;
    height:  650px;
    background: rgba(30, 29, 29, 0.2);
    border: 1px solid #202020;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* About */

.main-about {
    display: flex;
    flex-direction: column;
    padding: 50px 0 100px;
}
.main-about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
}

.main-about__text {
    display: flex;
    width: 70%;
    margin-bottom: 40px;
    text-align: center;
}

.main-about__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-about__item-title {
    font-weight: bold;
    text-transform: capitalize;
}
.main-about__item-text {

}
.circle {
    position: relative;
    width: 62px;
    height: 62px;
    background-color: var(--basic-greydark);
    border-radius: 50%;
}
.circle-dot {
    position: absolute;
    top: 40%;
    right: 40%;
    width: 12px;
    height: 12px;
    background-color: var(--special-green);
    border-radius: 50%;
}
/* what i do */
.main-stack {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 141px;
}
.main-stack__title {
    margin-bottom: 110px;
}
.main-stack__list {
    display: flex;
    text-align: left;
}
.main-stack__item {
    position: relative;
    width: 33%;
    margin-right: 60px;
    padding: 36px 70px 36px 50px;
    border: 1px solid #000000;
    background-color: var(--basic-greydark);
}
.main-stack__item:last-of-type {
    margin: 0;
}
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--special-green);
}
.main-stack__icon {

}
.main-stack__desc {
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #535353;
}